.dashboard {
  height: 100%;

  :global {
    .ant-spin-nested-loading {
      height: 100%;
      width: 100%;
    }
    .ant-spin-container {
      height: 100%;
      width: 100%;
    }

    .anticon:first-child:hover {
      top: 0 !important;
      cursor: pointer;
      transition: all 0.5s;
    }
    .ant-spin {
      max-height: 100% !important;
      background-color: white;
      .ant-spin-dot {
        top: 25% !important;
      }
    }

    #dashBoardIframe:fullscreen {
      background: white;
    }
    #dashBoardIframe:-webkit-full-screen {
      background: white;
    }
    #dashBoardIframe:-moz-full-screen {
      background: white;
    }
  }
}
