.storageList {
  margin-top: 20px;
  :global {
    .ant-table-row-level-1 {
      background-color: $white !important;
    }
    .ant-table-row-level-2 {
      background-color: #fafafa !important;
    }
  }
}