.popconfirm {
  :global {
    .ant-popover-inner {
      padding: 15px 15px 13px;
      min-width: 254px;
      max-width: 320px;

      >div {
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .ant-popover-inner-content {
        padding: 0;

        >div {
          text-align: right;
        }
      }
    }

    .ant-popover-title {
      border: none;
      padding: 0;

      i {
        margin: 3px 6px 0 0;
      }

      >div {
        display: flex;
        word-break: break-all;
      }
    }

    .ant-btn-primary {
      margin-left: 20px;
      border: transparent;
    }
  }
}

.bulkSelectTargetDate {
  :global {
    .ant-popover-inner-content {
      padding: 30px 20px 22px 16px;
    }

    .anticon {
      display: none;
    }

    .ant-popover-buttons {
      margin-top: 24px;

      button {
        width: 63px;
        margin-left: 20px;
      }
    }
  }
}