.wrapper {
  margin: 20px;
}

.form {
  margin: 30px 20px;
}

.removeIcon {
  float: left;
  line-height: 40px;
  margin-left: -14px;
  margin-right: 10px;
  cursor: pointer;
}
.footer {
  margin-left: 120px;
  margin-top: 30px ;
}

.cancel {
  width: 114px;
  margin-right: 60px;
}
.ok {
  width: 114px;
}
