.treeNode {
  position: relative;

  :global {
    .ant-select-tree-node-content-wrapper {
      position: absolute;
      left: 4px;
      top: 0px;
      border-radius: 4px;
    }
  }
}
.areaSelect {
  :global {
    .ant-input{
      position: absolute;
      width: 125%;
      left: -4px;
      border-radius: 4px;
    }
  }
}