.importModal {
  .upload {
    margin: 20px 0 10px 0;
  }
  :global {
    .upload-tip {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: 0;
      color: #8C8C8C;
      vertical-align: middle;
    }
    .ant-modal-header {
      border-bottom: none;
      padding: 16px 20px 20px;
    }
    .ant-modal-header {
      border-bottom: none;
      padding: 16px 20px 20px;
    }
    .ant-modal-title {
      font-size: 16px;
    }
    .ant-modal-body {
      margin: 0 20px 0 38px;
      font-size: 14px;
      padding: 0;
      padding-bottom: 42px;
      .import-steps {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  .step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.importTip {
  padding-top: 42px;
  :global {
    .ant-modal-body{
      padding: 30px;
    }
  }
  .tip {
    height: 60px;
    .icon {
      font-size: 36px;
      float: left;
      line-height: 42px;
    }
    .iconOk {
      color: $primary;
    }
    .iconError {
      color: $error;
    }
    .right {
      margin-left: 50px;
      p {
        font-size: 16px;
        margin-bottom: 10px
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    margin-top: 26px;
  }
}

.detailHeader {
  margin: 20px;
  position: relative;
  .title {
    margin-bottom: 20px;
  }
  .detail {
    margin-left: 20px;
    font-size: 12px;
    .row {
      margin-bottom: 20px;
      display: flex;
    }
    .row > span:first-child {
      width: 100px;
      min-width: 100px;
      max-width: 100px;
      margin-right: 20px;
      text-align: right;
      display: inline-block;
      color: $fontSub;
    }
  }
}
