.plusContainer {
  :global {
    .ant-popover-inner-content {
      padding: 0px !important;
    }
  }
}

.plusHoverContainer {
  cursor: pointer;
  width: 100px;
  padding: 4px 16px;
  &:hover {
    color: $white;
    background: $primary;
  }
}

.node {
  &:hover {
    border: 1px solid $primary !important;
  }
}

