.tag {
  border: 1px solid $borderGrey;
  border-radius: 3px;
  max-width: 108px;
  padding: 2px 4px;
  background-color: $grey;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  :global {
    .anticon {
      margin-left: 3px;
      font-size: 12px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.45);
    }
    .anticon:hover {
      color: $black;
      transition: all 0.5s;
    }
  }
}
