:global {
  .uploadBox {
    .ant-upload-list {
      overflow: auto;
      border: 1px solid #E8E8E8;
      border-radius: 3px;
      background-color: rgba(232, 232, 232, 0.2);
      padding: 2px 10px 10px;
      margin: 10px 0 20px;

      .ant-upload-list-item {
        font-size: 14px;
        height: 28px;
        line-height: 28px;

        .anticon-paper-clip {
          font-size: 14px;
          line-height: 28px;
          top: 0;
        }

        .anticon-cross {
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }
}