.tableButton {
  margin-left: 20px;
  margin-bottom: 20px;
}

.formWrapper {
  margin-top:  20px;
  margin-left: 20px;
  .header {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.cancelButton {
  width: 100px;
  margin-right: 30px;
}
.confirmButton {
  width: 100px;
}
