.container {
  padding: 20px;

  .header {
    font-size: 22px;
  }
  .footer {
    margin-left: calc(50% - 200px);
    margin-top: 16px;
    .cancel {
      width: 114px;
      margin-right: 60px;
    }
    .ok {
      width: 114px;
    }
  }
}
