:global {
  .my-checkbox {
    .ant-checkbox-wrapper {
      display: flex;
      padding: 0 10px;

      & > span:last-child {
        width: 100%;
      }
    }
    .ant-checkbox-inner {
      border-radius: 15px;
      width: 16px;
      height: 16px;
      top: 50%;
      margin-top: -50%;
    }
    .ant-checkbox-checked .ant-checkbox-inner::after {
      display: none;
    }

    .ant-checkbox-checked .ant-checkbox-inner,
    .ant-checkbox-indeterminate .ant-checkbox-inner {
      background-color: #0dc7a3;
      border-color: #0dc7a3;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: #0dc7a3;
    }
  }
}
