.createReportTemplate {
  padding: 20px 20px;
}

.createHeaders {
  font-size: 16px;
  padding-bottom: 30px;
}

.addControlsBtn {
  width: 909px;
  height: 40px;
  margin-left: 120px;
}

.controlRow {
  display: flex;
  :global {
    .ant-form-item-control-wrapper {
      .ant-form-item-control {
        display: flex;
      }
    }
  }
}