.ganttContainer {
  background-color: #fff;
  display: flex;
  flex-direction: row;

  .leftContainer {
    box-shadow: 2px 2px 4px 0 rgba(142, 152, 174, 0.2);

    .filterContainer {
      flex: 1;
      padding: 20px 10px;
      border-right: 1px solid #f3f3f3;
      border-bottom: 1px solid #f3f3f3;

      :global {
        .ant-select-selection.ant-select-selection--multiple {
          max-height: 28px;
          overflow-y: auto;
        }
      }
    }

    .treeContainer {
      flex: 1;
      border-right: 1px solid #f3f3f3;
    }
  }

  .timelineRow {
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    background-color: #fff;

    .timelineItem {
      display: flex;
      flex-direction: column;
      .dateItem {
        padding: 0 16px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #f3f3f3;
        align-items: center;
        border-right: 1px solid #f3f3f3;
      }
      .timeItemContainer {
        display: flex;
        align-items: center;
        .timeItem {
          padding: 0 14px;
          border-right: 1px solid #f3f3f3;
        }
      }
    }
    .timelineContainer {
      overflow-x: auto;
    }

    .intervalSelect {
      position: fixed;
      right: 40px;
      z-index: 100;
      width: 120px;
    }

    .chartContainer {
    }
  }
}

.legendContainer {
  display: flex;
  align-items: center;
  .title {
    margin-right: 8px;
  }
  .arrow {
    display: inline-block;
    color: $buttonHoverBorder;
    cursor: pointer;
    &:hover {
      color: $blacklakeGreen;
    }
  }
}

.ganttFilterContainer {
  width: 1000px;
  display: flex;

  .filterItemContainer {
    flex: 1;

    .flexFilterItems {
      flex-wrap: wrap;
      display: flex;
    }

    .filterItem {
      width: 33%;
      display: flex;
      padding: 4px 5px;
    }
  }
  .label {
    width: 80px;
    text-align: right;
  }
}
